<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name=".NRVideoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NRVideoProject">
        <activity
            android:name=".VideoPlayerAds"
            android:label="@string/title_activity_video_player_ads"
            android:theme="@style/Theme.NRVideoProject.NoActionBar"
            android:exported="false"></activity>
        <activity
            android:name=".VideoPlayer"
            android:theme="@style/Theme.NRVideoProject.NoActionBar"
            android:exported="false" />
        <activity
            android:name=".VideoPlayerMediaTailor"
            android:label="@string/title_activity_video_player_mediatailor"
            android:theme="@style/Theme.NRVideoProject.NoActionBar"
            android:exported="true" />
        <activity
            android:name=".VideoPlayerTHEO"
            android:label="THEOplayer"
            android:theme="@style/Theme.NRVideoProject.NoActionBar"
            android:exported="false" />
        <meta-data
            android:name="THEOPLAYER_LICENSE"
            android:value="sZP7IYe6T6Pg3SbL3QxlTmzr3uhkFSaL0o0-Clb_TOkgTQfLTQX13S1eIuh6FOPlUY3zWokgbgjNIOf9flbzCK0o0LAeFS410Qa-3Q4K3Ok10LeLFSekIlfcTux6IuXK0ZfVfK4_bQgZCYxNWoryIQXzImf90Sbr0uhi0Lfi0u5i0Oi6Io4pIYP1UQgqWgjeCYxgflEc3LRt0uC_0lRo3SecFOPeWok1dDrLYtA1Ioh6TgV6IQjVCGepCoj-f6i6WQjlCDcEWt3zf6i6borgIYNrbtA1bGPqUZrlWoz6FOPzdQ4qFKcNUKh6FOPzdQ4qbQc1sD4ZFK3qWmPUFOPeWok1dDrLYt3qUYPlImf9DZfJf6i6IQjVCGepCoj-f6i6WQjlCDcEWt3zf6i6borgIYNrbtA1bGPqUZrlWoz6FOPzdQ4qFKcNUKh6FOPzdQ4qbQc1sD4ZFK3qWmPUFOPLIQ-LflNWfKXpIwPqdDa6Ymi6bo4pIXjNWYAZIY3LdDjpflNzbG4gFOPKIDXzUYPgbZf9Dkkj" />
        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

</manifest>